 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .loginform{
        width: 100% !important;

       
       
   }
    .sidenav {
      display: none;
    }
    .cover {
       width: 100%;

    }
    .row.content {height:auto;} 
  }

    


  .bodyContainer{
   
    border: 1px red solid;
    


  }


  .bodyContainerlogin{
       

      background-image: url('./registercover.jpeg');
     
  }

  


  .Register{
      
       text-align: center;
      color:white;
      margin: auto;
      width: 60%;
      border: 3px solid #73AD21;
      padding: 10px;




  }

  .form-group{

    display: flex;
    color: black;

  }
  