 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .loginform{
        width: 100% !important;

       
       
   }
    .sidenav {
      display: none;
    }
    .cover {
       width: 100%;

    }
    .row.content {height:auto;} 
  }

    


  .bodyContainer{
   
    border: 1px red solid;
    


  }


  .bodyContainerlogin{
       

      background-image: url('./registercover.jpeg');
     
  }

  


  .Register{
      
       text-align: center;
      color:white;
      margin: auto;
      width: 60%;
      border: 3px solid #73AD21;
      padding: 10px;




  }

  .form-group{

    display: flex;
    color: black;

  }
  

  * {
    box-sizing: border-box;
}
 
 /* Credit Card */
.credit-card {
  width: 360px;
  height: 400px;
  margin: 60px auto 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

.form-header {
  height: 60px;
  padding: 20px 30px 0;
  border-bottom: 1px solid #e1e8ee;
}

.form-body {
  height: 340px;
  padding: 30px 30px 20px;
}

/* Title */
.title {
  font-size: 18px;
  margin: 0;
  color: #5e6977;
}



/* Common */
.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #86939e;
}

/* Card Number */
.card-number {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
}

.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: url('caret.png') no-repeat;
    background-position: 85% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}

/* Card Verification Field */
.cvv-input input {
  float: left;
  width: 145px;
  padding-left: 20px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  background: #fff;
}

.cvv-details {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  float: right;
  margin-bottom: 20px;
}

.cvv-details p {
  margin-top: 6px;
}



/* Buttons Section */
.paypal-btn,
.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}
 
.paypal-btn a,
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}
 
.paypal-btn a {
    color: rgba(242, 242, 242, .7);
}
 
.paypal-btn {
    padding-right: 95px;
    background: url('paypal-logo.svg') no-repeat 65% 56% #009cde;
}