.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      display: none;
    }
    .cover {
       width: 100%;

    }
    .row.content {height:auto;} 
  }


   .donateButton{
    
      text-align: center;
        
        
       border: 1px solid red;

   }
.cover img{
   max-width: 100%;
   height: auto;
}

 .clickbtn  button{
    
     width: 30% !important;
     height: 100px !important;
     background: url('./btn2.png') no-repeat;
      color: rgb(250, 59, 11);
      font-size: xx-large;
      font-weight: bolder;
     background-size: 100% 100%;
    
      
   }
    .donateclick button{
     
    color: black;
    width: 30% !important;
    
    margin:10px;
    background-color: red;
   
    border-radius:20px !important;
     

   }

    .title{

        font-size: xx-large;
        text-align: center;
        font-weight: bolder;

    }
    