
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DonateForCovid</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href=" /Css//loginStyel.css">
</head>
 

<body style="background-image: url(images/register.jpeg);"> 

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">
              <img src="/images//logo.png" style="max-width: 100%; max-height:100%;"> 
              </img>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>

        
       <div class="container" style="border: 1px solid black;
       height:90%  ;background-image: url(' /images/registercover.jpeg' ); display: flex;
       position:absolute;
       width: 100%;
       background-repeat: no-repeat;
       background-size: 100% 100%;

        
       
       ">

       <div class='form ' style="border: 1px solid black;margin: auto;
       font-size: larger; font-weight: bold;
        width: 50%;
        height: 70%;
       "
       
       >
           
       <!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h1 mb-4">Fill the form</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" name="pick" class="form-control mb-4" placeholder="PickUpLocation">

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" name="phone" class="form-control mb-4" placeholder="PhoneNo">
     <input type="date"id="defaultContactFormDate" name="date" class="form-control mb-4" placeholder="date">
    <!-- Subject -->
     

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"  name="stuff" placeholder="Stuff"></textarea>
    </div>

     

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->
  
       </div>


        
         


   


        </div>



 
       
 
 
</body>
 

</html>